
.site-layout {
  @media only screen and (min-width: 769px) {
    margin-left: 350px;
    margin-right: 40px;
  }
  @media only screen and (max-width: 769px) {
    .site-layout-background {
      margin: 0px 20px;
    }
  }
  .site-layout-background {
    background: #fff;
  }
}

.ant-layout {
  background-color: white;
}

